 <ion-header-bar class="bar-stable">
        <div class="islogin" ng-show="true">
            <div class="chef-logo"> </div>
            <div class="header-left-button"> </div>
            <div class="header-logo"> </div>
            <div class="header-right-button"> </div>
        </div>
        <div class="islogin" ng-show="false">
            <div class="login-top-1-icon"> </div>
            <div class="login-top-2-icon"> </div>
            <div class="login-top-3-icon"> </div>
            <div class="login-top-4-icon"> </div>
        </div>
    </ion-header-bar>