<ion-view view-title="<div class='header-logo'> </div>">
     <ion-header-bar class="bar-light messages-header-bar">
        <div class="message-header-left">
            <a class="button icon-left icon-chefpondiconset2a-88 button-clear button-dark"> <span> All Messages </span></a>
        </div>
        <div class="message-header-right">
            <a class="button icon-left icon-chefpondiconset2a-88 button-clear button-dark"> </a>
        </div>
    </ion-header-bar>
    <div class="bar bar-subheader messages-detail-subheader">
        <span>Muzaffer Uzunerol</span>
    </div>
    <ion-content class="messages-container messages-detail-container">
        <div class="list messages-list">
            <a class="item item-thumbnail-left" href="#">
                <div class="messages-left"><img src="http://placehold.it/350x350">
                </div>
                <div class="messages-right">
                    <p>Selamlar Chefpond cok güzel gerçekten güzel harika</p>
                    <div class="messages-time"> 2 Day Ago </div>
                </div>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <div class="messages-left"><img src="http://placehold.it/350x350">
                </div>
                <div class="messages-right">
                    <p>Selamlar Chefpond cok güzel gerçekten güzel harika</p>
                    <div class="messages-time"> 2 Day Ago </div>
                </div> 
            </a>
            <a class="item item-thumbnail-left" href="#">
                <div class="messages-left"><img src="http://placehold.it/350x350">
                </div>
                <div class="messages-right">
                    <p>Selamlar Chefpond cok güzel gerçekten güzel harika</p>
                    <div class="messages-time"> 2 Day Ago </div>
                </div>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <div class="messages-left"><img src="http://placehold.it/350x350">
                </div>
                <div class="messages-right">
                    <p>Selamlar Chefpond cok güzel gerçekten güzel harika</p>
                    <div class="messages-time"> 2 Day Ago </div>
                </div>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <div class="messages-left"><img src="http://placehold.it/350x350">
                </div>
                <div class="messages-right">
                    <p>Selamlar Chefpond cok güzel gerçekten güzel harika</p>
                    <div class="messages-time"> 2 Day Ago </div>
                </div>
            </a>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-stable default-footer">
        <div class="messages-detail-input">
            <div class="list">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Write a reply">
                    </label>
                    <button class="button button-small icon-left icon-chefpondiconset2a-88 button-clear">
                    </button>
                </div>
            </div>
        </div>
    </div>
</ion-view>
 