<ion-view class="notification-container" view-title="<div class='header-logo'> </div>">
    <ion-header-bar class="bar-stable">
        <div class="islogin" ng-show="false">
            <div class="header-left-button"> </div>
            <div class="header-right-button"> </div>
        </div>
        <div class="islogin" ng-show="!false">
            <div class="login-header-logo"> </div>
            <div class="button-bar is-login-right-btns">
                <a class="login-top-2-icon"> </a>
                <a class="login-top-3-icon"> </a>                
                <a class="login-top-1-icon"> </a>
            </div>
        </div>
    </ion-header-bar>
    <div class="bar bar-subheader notification-subheader">
        <span>Notification</span>
    </div>
    <ion-content class="container-main notification-container">
        <div class="list messages-list">
            <div class="notification-single">
                <a class="item item-thumbnail-left" href="#">
                    <div class="notification-big-icon icon-chefpondiconset2a-352">
                    </div>
                    <div class="messages-left"><img src="http://placehold.it/350x350">
                    </div>
                    <div class="messages-right">
                        <h2>Muzaffer Uzunerol</h2>
                        <div class="messages-user-title">
                            <i> title icon </i> <span> Proffesional Chef</span>
                        </div>
                    </div>
                </a>
                <div class="notification-desc">
                    <div class="list">
                        <a class="item item-avatar" href="#">
                            <img src="http://placehold.it/350x350">
                            <p>Projeyle ilgili açıklamalar, Projeyle ilgili açıklamalar, Projeyle ilgili açıklamalar, Projeyle ilgili açıklamalar</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="notification-single">
                <a class="item item-thumbnail-left" href="#">
                    <div class="notification-big-icon icon-chefpondiconset2a-352">
                    </div>
                    <div class="messages-left"><img src="http://placehold.it/350x350">
                    </div>
                    <div class="messages-right">
                        <h2>Muzaffer Uzunerol</h2>
                        <div class="messages-user-title">
                            <i> title icon </i> <span> Proffesional Chef</span>
                        </div>
                    </div>
                </a>
                <div class="notification-desc">
                    <div class="list">
                        <a class="item item-avatar" href="#">
                            <img src="http://placehold.it/350x350">
                            <p>Projeyle ilgili açıklamalar, Projeyle ilgili açıklamalar, Projeyle ilgili açıklamalar, Projeyle ilgili açıklamalar</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="notification-single">
                <a class="item item-thumbnail-left" href="#">
                     <div class="notification-big-icon icon-chefpondiconset2a-352">
                    </div>
                    <div class="messages-left"><img src="http://placehold.it/350x350">
                    </div>
                    <div class="messages-right">
                        <h2>Muzaffer Uzunerol</h2>
                        <div class="messages-user-title">
                            <i> title icon </i> <span> Proffesional Chef</span>
                        </div>
                    </div>
                </a>
                <div class="notification-desc">
                    <div class="list">
                        <a class="item item-avatar" href="#">
                            <img src="http://placehold.it/350x350">
                            <p>Projeyle ilgili açıklamalar, Projeyle ilgili açıklamalar, Projeyle ilgili açıklamalar, Projeyle ilgili açıklamalar</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="notification-single">
                <a class="item item-thumbnail-left" href="#">
                     <div class="notification-big-icon icon-chefpondiconset2a-352">
                    </div>
                    <div class="messages-left"><img src="http://placehold.it/350x350">
                    </div>
                    <div class="messages-right">
                        <h2>Muzaffer Uzunerol</h2>
                        <div class="messages-user-title">
                            <i> title icon </i> <span> Proffesional Chef</span>
                        </div>
                    </div>
                </a>
                <div class="notification-desc">
                    <div class="list">
                        <a class="item item-avatar" href="#">
                            <img src="http://placehold.it/350x350">
                            <p>Projeyle ilgili açıklamalar, Projeyle ilgili açıklamalar, Projeyle ilgili açıklamalar, Projeyle ilgili açıklamalar</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-stable default-footer">
        <div class="button-bar" ng-show="!true">
            <a class="button blue-button">Sign Up</a>
            <a class="button grey-button">Login</a>
        </div>
        <div class="button-bar" ng-show="!false">
            <a class="button col col-25 footer-left-icon" ng-click="goTo('four-category')"></a>
            <a class="button col col-50 footer-center-icon" ng-click="uploadModalOpen('uploadModal')"></a>
            <a class="button col col-25 footer-right-icon" ng-click="goTo('profile')"></a>
        </div>
    </div>
</ion-view>
