<ion-view view-title="">
    <ion-header-bar class="bar-stable">
        <div class="islogin" ng-show="false">
            <div class="header-left-button"> </div>
            <div class="header-right-button"> </div>
        </div>
        <div class="islogin" ng-show="!false">
            <div class="login-header-logo"> </div>
            <div class="button-bar is-login-right-btns">
                <a class="login-top-2-icon"> </a>
                <a class="login-top-3-icon"> </a>
                <a class="login-top-1-icon"> </a>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="container-main edit-profie-container static-page-container">
        <div class="button-bar static-button-bar">
            <a class="button icon-left icon-chefpondiconset2a-88 button-clear button-dark"> <span> Taste </span></a>
            <a class="button icon-left icon-chefpondiconset2a-88 button-clear button-dark"> <span> Writer </span></a>
            <a class="button icon-left icon-chefpondiconset2a-88 button-clear button-dark"> <span> Gallery </span></a>
            <a class="button icon-left icon-chefpondiconset2a-88 button-clear button-dark"> <span> Product </span></a>
        </div>

         <div class="title-button-bar">
          
            <div class="button-bar static-button-bar">
                <a class="button icon-chefpondiconset2a-88 button-clear button-dark"> <span> All Project </span>
                    <p>1.360 </p>
                </a> 
            </div>
        </div>

        <div class="title-button-bar">
            <h4> All Time </h4>
            <div class="button-bar static-button-bar">
                <a class="button icon-chefpondiconset2a-88 button-clear button-dark"> <span> All Project </span>
                    <p>1.360 </p>
                </a>
                <a class="button icon-chefpondiconset2a-88 button-clear button-dark"> <span> Project View </span>
                    <p>1.360 </p>
                </a>
                <a class="button icon-chefpondiconset2a-88 button-clear button-dark"> <span> Appreciations </span>
                    <p>1.360 </p>
                </a>
                <a class="button icon-chefpondiconset2a-88 button-clear button-dark"> <span> Comments </span>
                    <p>1.360 </p>
                </a>
            </div>
        </div>
          <div class="title-button-bar">
            <h4>Today </h4>
            <div class="button-bar static-button-bar">
                <a class="button icon-chefpondiconset2a-88 button-clear button-dark"> <span> All Project </span>
                    <p>1.360 </p>
                </a>
                <a class="button icon-chefpondiconset2a-88 button-clear button-dark"> <span> Project View </span>
                    <p>1.360 </p>
                </a>
                <a class="button icon-chefpondiconset2a-88 button-clear button-dark"> <span> Appreciations </span>
                    <p>1.360 </p>
                </a>
                <a class="button icon-chefpondiconset2a-88 button-clear button-dark"> <span> Comments </span>
                    <p>1.360 </p>
                </a>
            </div>
        </div>
          <div class="title-button-bar"> 
            <div class="button-bar static-button-bar">
                <a class="button icon-chefpondiconset2a-88 button-clear button-dark"> <span> All Project </span>
                    <p>1.360 </p>
                </a>
                <a class="button icon-chefpondiconset2a-88 button-clear button-dark"> <span> Project View </span>
                    <p>1.360 </p>
                </a> 
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-stable default-footer">
        <div class="button-bar" ng-show="!true">
            <a class="button blue-button">Sign Up</a>
            <a class="button grey-button">Login</a>
        </div>
        <div class="button-bar" ng-show="!false">
            <a class="button col col-25 footer-left-icon" ng-click="goTo('four-category')"></a>
            <a class="button col col-50 footer-center-icon" ng-click="uploadModalOpen('uploadModal')"></a>
            <a class="button col col-25 footer-right-icon" ng-click="goTo('profile')"></a>
        </div>
        <div class="button-bar messages-select-footer" ng-show="false">
            <button class="button button-clear button-positive custom-left-btn">
                Select All
            </button>
            <button class="button button-clear button-positive  custom-right-btn">
                Move To Archive
            </button>
        </div>
    </div>
</ion-view>
