<ion-modal-view class="upload-modal">
    <ion-content class="">
        <div class="row">
            <div class="col col-four" ng-click="goTo('taste')">
                <div class="col-four-circle taste-icon">
                    <p>Taste</p>
                </div>
            </div>
            <div class="col col-four" ng-click="goTo('writer')">
                <div class="col-four-circle writer-icon">
                    <p>Writer</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-four" ng-click="goTo('gallery')">
                <div class="col-four-circle gallery-icon">
                    <p>Gallery</p>
                </div>
            </div>
            <div class="col col-four" ng-click="goTo('product')">
                <div class="col-four-circle product-icon">
                    <p>Product</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
